@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:35vh;
}

